.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
}
.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px 20px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

.delete-btn {
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  background: rgba(70, 140, 255, 0.15);
  color: #3b6fff;
  font-size: 12px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.delete-btn:hover {
  background: rgba(70, 140, 255, 0.25);
  transform: scale(1.05);
}

.delete-btn:active {
  transform: scale(0.95);
}

@media(max-width:600px){
    .sidebar{
        position: fixed;
        left: -260px;
        top: 0;
        height: 100vh;
        width: 240px;
        background-color: #f0f4f9;
        transition: 0.3s;
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }

    .sidebar .active{
        left: 0;
    }
}
